html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 10rem;
}

h1 {
    font-size: 3rem;
}

.container {
    font-size: 20px;
    width: 100pt;
    height: 100px;
    background-color: gold;
}

.box {
    font-size: 2rem;
    width: 50%;
    height: 200px;
    background-color: #999;
}

.box-interno {
    width: 50%;
    height: 50%;
    background-color: #333;
}