* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

p {
    color: blue;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 0px;
    line-height: 30px;
    text-shadow: 2px 3px 2px darkblue;
}

a {
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}