* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.form {
    font-size: 25px;
    color: #000;
    text-decoration: overline;
}

label {
    display: block;
    margin-bottom: 20px;
}

input [type="text"], textarea {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid #CCC;
    outline: 0px;
    margin-top: 5px;
}

textarea {
    height: 100px;
    resize: none;
}